<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selenum.dao.ScreenDao">

	<select id="findCount" resultType="java.lang.Integer">
		select count(*) from screen
	</select>
	
	<select id="findOneByLimit" resultType="com.selenum.model.Screen">
		select * from screen limit #{limit},1
	</select>
	
</mapper>
